@import "~bootstrap/scss/bootstrap.scss";


// .input {
//     display: flex;
//     justify-content: center;
// }
#app {
    // display: flex;
    // justify-content: center;
     color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

  
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
}  
ul {
    padding-top: 4rem;
}
li {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
}
  


.container {
  margin-top: 20vh;
}
// button {
   
// }
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
